# **SOURCE**
https://www.kaggle.com/code/mgmarques/customer-segmentation-and-market-basket-analysis/notebook
- Customer segmentation: Customer segmentation is the problem of uncovering information about a firm's customer base, based on their interactions with the business. In most cases this interaction is in terms of their purchase behavior and patterns. We explore some of the ways in which this can be used.
- Market basket analysis: Market basket analysis is a method to gain insights into granular behavior of customers. This is helpful in devising strategies which uncovers deeper understanding of purchase decisions taken by the customers. This is interesting as a lot of times even the customer will be unaware of such biases or trends in their purchasing behavior.

Let's see the description of each column:
- InvoiceNo: A unique identifier for the invoice. An invoice number shared across rows means that those transactions were performed in a single invoice (multiple purchases).
- StockCode: Identifier for items contained in an invoice.
- Description: Textual description of each of the stock item.
- Quantity: The quantity of the item purchased.
- InvoiceDate: Date of purchase.
- UnitPrice: Value of each item.
- CustomerID: Identifier for customer making the purchase.
- Country: Country of customer.

# **DATA UNDERSTANDING**

In [2]:
import numpy as np
import pandas as pd
import warnings

warnings.filterwarnings('ignore')
pd.options.mode.chained_assignment = None

path = './db/online-retail.xlsx'
df = pd.read_excel(path)

In [3]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [4]:
line = '========================'
def dataProfile(data):
  dimension = data.shape
  dtype = data.dtypes
  countOfNull = data.isnull().sum()
  nullRatio = round(countOfNull/len(data)*100,4)
  countOfDistinct = data.nunique()
  distinctValue = data.apply(lambda x: x.unique())
  output = pd.DataFrame(list(zip(dtype, countOfNull, nullRatio, countOfDistinct, distinctValue)),
                        index=data.columns, 
                        columns=['dtype', 'count_of_null', 'null_ratio', 'count_of_distinct', 'distinct_value'])
  # output = pd.concat([dtype, countOfNull, nullRatio, countOfDistinct, distinctValue], axis=1)
  # output.rename(columns=['dtype', 'count_of_null', 'null_ratio', 'count_of_distinct', 'distinct_value'])
  print(f'Dimensions\t: {dimension}')
  print(f'Data Size\t: {round(data.memory_usage(deep=True).sum()/1000000, 2)} MB')
  print(line)
  print(f'Duplicated Data\t: {len(data[data.duplicated()])}')
  display(data[data.duplicated()])
  print(line)
  print('REVIEW')
  display(output)
  print(line)
  print('Stastical Numerics')
  display(data.describe())
  print(line)
  print('Stastical Categorics')
  display(data.describe(include=['category', 'object']))
  print(line)
  print('PREVIEW head(3)')
  display(data.head(3))

In [207]:
dataProfile(df)

Dimensions	: (541909, 8)
Data Size	: 141.48 MB
========================
Duplicated Data	: 5268

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
517,536409,21866,UNION JACK FLAG LUGGAGE TAG,1,2010-12-01 11:45:00,1.25,17908.0,United Kingdom
527,536409,22866,HAND WARMER SCOTTY DOG DESIGN,1,2010-12-01 11:45:00,2.10,17908.0,United Kingdom
537,536409,22900,SET 2 TEA TOWELS I LOVE LONDON,1,2010-12-01 11:45:00,2.95,17908.0,United Kingdom
539,536409,22111,SCOTTIE DOG HOT WATER BOTTLE,1,2010-12-01 11:45:00,4.95,17908.0,United Kingdom
555,536412,22327,ROUND SNACK BOXES SET OF 4 SKULLS,1,2010-12-01 11:49:00,2.95,17920.0,United Kingdom
...,...,...,...,...,...,...,...,...
541675,581538,22068,BLACK PIRATE TREASURE CHEST,1,2011-12-09 11:34:00,0.39,14446.0,United Kingdom
541689,581538,23318,BOX OF 6 MINI VINTAGE CRACKERS,1,2011-12-09 11:34:00,2.49,14446.0,United Kingdom
541692,581538,22992,REVOLVER WOODEN RULER,1,2011-12-09 11:34:00,1.95,14446.0,United Kingdom
541699,581538,22694,WICKER STAR,1,2011-12-09 11:34:00,2.10,14446.0,United Kingdom
541701,581538,23343,JUMBO BAG VINTAGE CHRISTMAS,1,2011-12-09 11:34:00,2.08,14446.0,United Kingdom

========================
REVIEW

,dtype,count_of_null,null_ratio,count_of_distinct,distinct_value
InvoiceNo,object,0,0.0000,25900,"[536365, 536366, 536367, 536368, 536369, 53637..."
StockCode,object,0,0.0000,4070,"[85123A, 71053, 84406B, 84029G, 84029E, 22752,..."
Description,object,1454,0.2683,4223,"[WHITE HANGING HEART T-LIGHT HOLDER, WHITE MET..."
Quantity,int64,0,0.0000,722,"[6, 8, 2, 32, 3, 4, 24, 12, 48, 18, 20, 36, 80..."
InvoiceDate,datetime64[ns],0,0.0000,23260,"[2010-12-01T08:26:00.000000000, 2010-12-01T08:..."
UnitPrice,float64,0,0.0000,1630,"[2.55, 3.39, 2.75, 7.65, 4.25, 1.85, 1.69, 2.1..."
CustomerID,float64,135080,24.9267,4372,"[17850.0, 13047.0, 12583.0, 13748.0, 15100.0, ..."
Country,object,0,0.0000,38,"[United Kingdom, France, Australia, Netherland..."

========================
Stastical Numerics

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

========================
Stastical Categorics

,InvoiceNo,StockCode,Description,Country
count,541909,541909,540455,541909
unique,25900,4070,4223,38
top,573585,85123A,WHITE HANGING HEART T-LIGHT HOLDER,United Kingdom
freq,1114,2313,2369,495478

========================
PREVIEW head(3)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom

We can observe from the preceding output that Quantity and UnitPrice are having negative values, which may mean that we may have some return transactions in our data also. As our goal is customer segmentation and market basket analysis, it is important that these records are removed, but first we will take a look at whether there are records where both are negative or if one of them is negative and the other is zero.

# **DATA CLEANSING**

## **Drop Duplicated**

In [276]:
def dropDuplicates(df):
  print(f'Dimensions before remove duplicates: {df.shape}')
  df = df.drop_duplicates()
  print(f'Dimensions after remove duplicates: {df.shape}')
  return df

In [277]:
data = df.copy()
data = dropDuplicates(data)
data

Dimensions before remove duplicates: (541909, 8)
Dimensions after remove duplicates: (536641, 8)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

## **Drop N/a CustomerID**

In [278]:
def dropNull(df, cols=None):
  print(f'Dimensions before remove duplicates: {df.shape}')
  if(cols==None):
    df = df.dropna()
  else:
    df = df.dropna(subset=cols, axis=0)
  print(f'Dimensions after remove duplicates: {df.shape}')
  return df

In [279]:
data = dropNull(data, cols=['CustomerID'])
data

Dimensions before remove duplicates: (536641, 8)
Dimensions after remove duplicates: (401604, 8)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

## **Data Types**

In [280]:
dataProfile(data)

Dimensions	: (401604, 8)
Data Size	: 107.96 MB
========================
Duplicated Data	: 0

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

========================
REVIEW

,dtype,count_of_null,null_ratio,count_of_distinct,distinct_value
InvoiceNo,object,0,0.0,22190,"[536365, 536366, 536367, 536368, 536369, 53637..."
StockCode,object,0,0.0,3684,"[85123A, 71053, 84406B, 84029G, 84029E, 22752,..."
Description,object,0,0.0,3896,"[WHITE HANGING HEART T-LIGHT HOLDER, WHITE MET..."
Quantity,int64,0,0.0,436,"[6, 8, 2, 32, 3, 4, 24, 12, 48, 18, 20, 36, 80..."
InvoiceDate,datetime64[ns],0,0.0,20460,"[2010-12-01T08:26:00.000000000, 2010-12-01T08:..."
UnitPrice,float64,0,0.0,620,"[2.55, 3.39, 2.75, 7.65, 4.25, 1.85, 1.69, 2.1..."
CustomerID,float64,0,0.0,4372,"[17850.0, 13047.0, 12583.0, 13748.0, 15100.0, ..."
Country,object,0,0.0,37,"[United Kingdom, France, Australia, Netherland..."

========================
Stastical Numerics

            Quantity      UnitPrice     CustomerID
count  401604.000000  401604.000000  401604.000000
mean       12.183273       3.474064   15281.160818
std       250.283037      69.764035    1714.006089
min    -80995.000000       0.000000   12346.000000
25%         2.000000       1.250000   13939.000000
50%         5.000000       1.950000   15145.000000
75%        12.000000       3.750000   16784.000000
max     80995.000000   38970.000000   18287.000000

========================
Stastical Categorics

,InvoiceNo,StockCode,Description,Country
count,401604,401604,401604,401604
unique,22190,3684,3896,37
top,576339,85123A,WHITE HANGING HEART T-LIGHT HOLDER,United Kingdom
freq,542,2065,2058,356728

========================
PREVIEW head(3)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom

In [281]:
data.CustomerID = data.CustomerID.astype('str')
data.CustomerID = data.CustomerID.str.replace(r'\D+0', '', regex=True)
numericalColumns = ['Quantity', 'UnitPrice', 'InvoiceDate']
for value in data.columns:
  if value not in numericalColumns:
    data[value] = data[value].astype('str')
dataProfile(data)

Dimensions	: (401604, 8)
Data Size	: 149.77 MB
========================
Duplicated Data	: 0

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

========================
REVIEW

,dtype,count_of_null,null_ratio,count_of_distinct,distinct_value
InvoiceNo,object,0,0.0,22190,"[536365, 536366, 536367, 536368, 536369, 53637..."
StockCode,object,0,0.0,3684,"[85123A, 71053, 84406B, 84029G, 84029E, 22752,..."
Description,object,0,0.0,3896,"[WHITE HANGING HEART T-LIGHT HOLDER, WHITE MET..."
Quantity,int64,0,0.0,436,"[6, 8, 2, 32, 3, 4, 24, 12, 48, 18, 20, 36, 80..."
InvoiceDate,datetime64[ns],0,0.0,20460,"[2010-12-01T08:26:00.000000000, 2010-12-01T08:..."
UnitPrice,float64,0,0.0,620,"[2.55, 3.39, 2.75, 7.65, 4.25, 1.85, 1.69, 2.1..."
CustomerID,object,0,0.0,4372,"[17850, 13047, 12583, 13748, 15100, 15291, 146..."
Country,object,0,0.0,37,"[United Kingdom, France, Australia, Netherland..."

========================
Stastical Numerics

            Quantity      UnitPrice
count  401604.000000  401604.000000
mean       12.183273       3.474064
std       250.283037      69.764035
min    -80995.000000       0.000000
25%         2.000000       1.250000
50%         5.000000       1.950000
75%        12.000000       3.750000
max     80995.000000   38970.000000

========================
Stastical Categorics

,InvoiceNo,StockCode,Description,CustomerID,Country
count,401604,401604,401604,401604,401604
unique,22190,3684,3896,4372,37
top,576339,85123A,WHITE HANGING HEART T-LIGHT HOLDER,17841,United Kingdom
freq,542,2065,2058,7812,356728

========================
PREVIEW head(3)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom

## **Explore**

### **Duplicated values and null values has been removed. Negative value in Quantity?**

In [282]:
print(f'negative quantity => refund?')
print(f'InvoiceNo startwith: {data[(data.Quantity<0)].InvoiceNo.apply(lambda x: str(x)[0]).unique()}\n{line}')
display(data[(data.Quantity<0)])
print(line)
print(f'zero unitprice => free/bug/error?')
print(f'length: {len(data[(data.UnitPrice==0)])}\n{line}')
display(data[(data.UnitPrice==0)])

negative quantity => refund?
InvoiceNo startwith: ['C']
========================

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,2010-12-01 09:41:00,27.50,14527,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-01 09:49:00,4.65,15311,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2010-12-01 10:24:00,1.65,17548,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548,United Kingdom
...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,2011-12-09 09:57:00,0.83,14397,United Kingdom
541541,C581499,M,Manual,-1,2011-12-09 10:28:00,224.69,15498,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,2011-12-09 11:57:00,10.95,15311,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,2011-12-09 11:58:00,1.25,17315,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,2011-12-09 11:58:00,1.25,17315,United Kingdom

========================
zero unitprice => free/bug/error?
length: 40
========================

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
9302,537197,22841,ROUND CAKE TIN VINTAGE GREEN,1,2010-12-05 14:02:00,0.0,12647,Germany
33576,539263,22580,ADVENT CALENDAR GINGHAM SACK,4,2010-12-16 14:36:00,0.0,16560,United Kingdom
40089,539722,22423,REGENCY CAKESTAND 3 TIER,10,2010-12-21 13:45:00,0.0,14911,EIRE
47068,540372,22090,PAPER BUNTING RETROSPOT,24,2011-01-06 16:41:00,0.0,13081,United Kingdom
47070,540372,22553,PLASTERS IN TIN SKULLS,24,2011-01-06 16:41:00,0.0,13081,United Kingdom
56674,541109,22168,ORGANISER WOOD ANTIQUE WHITE,1,2011-01-13 15:10:00,0.0,15107,United Kingdom
86789,543599,84535B,FAIRY CAKES NOTEBOOK A6 SIZE,16,2011-02-10 13:08:00,0.0,17560,United Kingdom
130188,547417,22062,CERAMIC BOWL WITH LOVE HEART DESIGN,36,2011-03-23 10:25:00,0.0,13239,United Kingdom
139453,548318,22055,MINI CAKE STAND HANGING STRAWBERY,5,2011-03-30 12:45:00,0.0,13113,United Kingdom
145208,548871,22162,HEART GARLAND RUSTIC PADDED,2,2011-04-04 14:42:00,0.0,14410,United Kingdom
157042,550188,22636,CHILDS BREAKFAST SET CIRCUS PARADE,1,2011-04-14 18:57:00,0.0,12457,Switzerland
187613,553000,47566,PARTY BUNTING,4,2011-05-12 15:21:00,0.0,17667,United Kingdom
198383,554037,22619,SET OF 6 SOLDIER SKITTLES,80,2011-05-20 14:13:00,0.0,12415,Australia
279324,561284,22167,OVAL WALL MIRROR DIAMANTE,1,2011-07-26 12:24:00,0.0,16818,United Kingdom
282912,561669,22960,JAM MAKING SET WITH JARS,11,2011-07-28 17:09:00,0.0,12507,Spain
285657,561916,M,Manual,1,2011-08-01 11:44:00,0.0,15581,United Kingdom
298054,562973,23157,SET OF 6 NATIVITY MAGNETS,240,2011-08-11 11:42:00,0.0,14911,EIRE
314745,564651,23270,SET OF 2 CERAMIC PAINTED HEARTS,96,2011-08-26 14:19:00,0.0,14646,Netherlands
314746,564651,23268,SET OF 2 CERAMIC CHRISTMAS REINDEER,192,2011-08-26 14:19:00,0.0,14646,Netherlands
314747,564651,22955,36 FOIL STAR CAKE CASES,144,2011-08-26 14:19:00,0.0,14646,Netherlands
314748,564651,21786,POLKADOT RAIN HAT,144,2011-08-26 14:19:00,0.0,14646,Netherlands
358655,568158,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-09-25 12:22:00,0.0,16133,United Kingdom
361825,568384,M,Manual,1,2011-09-27 09:46:00,0.0,12748,United Kingdom
379913,569716,22778,GLASS CLOCHE SMALL,2,2011-10-06 08:17:00,0.0,15804,United Kingdom
395529,571035,M,Manual,1,2011-10-13 12:50:00,0.0,12446,RSA
420404,572893,21208,PASTEL COLOUR HONEYCOMB FAN,5,2011-10-26 14:36:00,0.0,18059,United Kingdom
436428,574138,23234,BISCUIT TIN VINTAGE CHRISTMAS,216,2011-11-03 11:26:00,0.0,12415,Australia
436597,574175,22065,CHRISTMAS PUDDING TRINKET POT,12,2011-11-03 11:47:00,0.0,14110,United Kingdom
436961,574252,M,Manual,1,2011-11-03 13:24:00,0.0,12437,France
439361,574469,22385,JUMBO BAG SPACEBOY DESIGN,12,2011-11-04 11:55:00,0.0,12431,Australia
446125,574879,22625,RED KITCHEN SCALES,2,2011-11-07 13:22:00,0.0,13014,United Kingdom
446793,574920,22899,CHILDREN'S APRON DOLLY GIRL,1,2011-11-07 16:34:00,0.0,13985,United Kingdom
446794,574920,23480,MINI LIGHTS WOODLAND MUSHROOMS,1,2011-11-07 16:34:00,0.0,13985,United Kingdom
454463,575579,22437,SET OF 9 BLACK SKULL BALLOONS,20,2011-11-10 11:49:00,0.0,13081,United Kingdom
454464,575579,22089,PAPER BUNTING VINTAGE PAISLEY,24,2011-11-10 11:49:00,0.0,13081,United Kingdom
479079,577129,22464,HANGING METAL HEART LANTERN,4,2011-11-17 19:52:00,0.0,15602,United Kingdom
479546,577168,M,Manual,1,2011-11-18 10:42:00,0.0,12603,Germany
480649,577314,23407,SET OF 2 TRAYS HOME SWEET HOME,2,2011-11-18 13:23:00,0.0,12444,Norway
485985,577696,M,Manual,1,2011-11-21 11:57:00,0.0,16406,United Kingdom
502122,578841,84826,ASSTD DESIGN 3D PAPER STICKERS,12540,2011-11-25 15:57:00,0.0,13256,United Kingdom

In [283]:
zeroUP = data[data.UnitPrice==0][['StockCode', "Description"]]
priceZero = pd.merge(data, zeroUP, left_on=['StockCode', 'Description'], right_on=['StockCode', 'Description'], how='inner')
# priceZero
priceZero.groupby(['StockCode', 'Description', 'UnitPrice'], as_index=False).agg(Count_=('UnitPrice', 'count')).reset_index(drop=True)

    StockCode                  Description  UnitPrice  Count_
0       21208  PASTEL COLOUR HONEYCOMB FAN      0.000       1
1       21208  PASTEL COLOUR HONEYCOMB FAN      0.390      50
2       21208  PASTEL COLOUR HONEYCOMB FAN      1.450       2
3       21208  PASTEL COLOUR HONEYCOMB FAN      1.650       9
4       21786           POLKADOT RAIN HAT       0.000       1
..        ...                          ...        ...     ...
316         M                       Manual   4287.630       6
317         M                       Manual   6930.000       6
318         M                       Manual  38970.000       6
319      PADS   PADS TO MATCH ALL CUSHIONS      0.000       1
320      PADS   PADS TO MATCH ALL CUSHIONS      0.001       3

[321 rows x 4 columns]

### **Drop Zero UnitPrice**
The zero-valued UnitPrice only has 40 registers data. Therefore, it can be removed to avoid data inconsistencies.

In [284]:
data = data[data.UnitPrice > 0]
data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France

In [285]:
dataProfile(data)

Dimensions	: (401564, 8)
Data Size	: 149.76 MB
========================
Duplicated Data	: 0

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

========================
REVIEW

,dtype,count_of_null,null_ratio,count_of_distinct,distinct_value
InvoiceNo,object,0,0.0,22186,"[536365, 536366, 536367, 536368, 536369, 53637..."
StockCode,object,0,0.0,3684,"[85123A, 71053, 84406B, 84029G, 84029E, 22752,..."
Description,object,0,0.0,3896,"[WHITE HANGING HEART T-LIGHT HOLDER, WHITE MET..."
Quantity,int64,0,0.0,435,"[6, 8, 2, 32, 3, 4, 24, 12, 48, 18, 20, 36, 80..."
InvoiceDate,datetime64[ns],0,0.0,20456,"[2010-12-01T08:26:00.000000000, 2010-12-01T08:..."
UnitPrice,float64,0,0.0,619,"[2.55, 3.39, 2.75, 7.65, 4.25, 1.85, 1.69, 2.1..."
CustomerID,object,0,0.0,4371,"[17850, 13047, 12583, 13748, 15100, 15291, 146..."
Country,object,0,0.0,37,"[United Kingdom, France, Australia, Netherland..."

========================
Stastical Numerics

            Quantity      UnitPrice
count  401564.000000  401564.000000
mean       12.149911       3.474410
std       249.512649      69.767501
min    -80995.000000       0.001000
25%         2.000000       1.250000
50%         5.000000       1.950000
75%        12.000000       3.750000
max     80995.000000   38970.000000

========================
Stastical Categorics

,InvoiceNo,StockCode,Description,CustomerID,Country
count,401564,401564,401564,401564,401564
unique,22186,3684,3896,4371,37
top,576339,85123A,WHITE HANGING HEART T-LIGHT HOLDER,17841,United Kingdom
freq,542,2065,2058,7812,356704

========================
PREVIEW head(3)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom

### **Explore Returned/Canceled Transactions**

#### **By Transactions and Trasaction Items**

In [349]:
cancel = data.groupby(['InvoiceNo', 'CustomerID'], as_index=False).Quantity.sum().sort_values('CustomerID').reset_index(drop=True)
cancel['IsCanceled'] = np.where(cancel.InvoiceNo.str.startswith('C', na=False), 1, 0)

print(f'Total transactions\t\t: {len(cancel)}')
print(f'Total completed transactions\t: {len(cancel)-cancel.IsCanceled.sum()} => {round(100-(cancel.IsCanceled.sum()/len(cancel)*100),2)}%')
print(f'Total canceled transactions\t: {cancel.IsCanceled.sum()} => {round((cancel.IsCanceled.sum()/len(cancel)*100),2)}%')
print(line)
cancel

Total transactions		: 22186
Total completed transactions	: 18532 => 83.53%
Total canceled transactions	: 3654 => 16.47%
========================

      InvoiceNo CustomerID  Quantity  IsCanceled
0        541431      12346     74215           0
1       C541433      12346    -74215           1
2        549222      12347       483           0
3        537626      12347       319           0
4        562032      12347       277           0
...         ...        ...       ...         ...
22181    578262      18283       241           0
22182    579673      18283       132           0
22183    570715      18287       990           0
22184    554065      18287       488           0
22185    573167      18287       108           0

[22186 rows x 4 columns]

In [342]:
# canceled items
data[data['InvoiceNo'].str.startswith("C", na = False)].sort_values('CustomerID').reset_index(drop=True)
# same as data[data.Quantity<0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,C541433,23166,MEDIUM CERAMIC TOP STORAGE JAR,-74215,2011-01-18 10:17:00,1.04,12346,United Kingdom
1,C547388,21914,BLUE HARMONICA IN BOX,-12,2011-03-22 16:07:00,1.25,12352,Norway
2,C547388,84050,PINK HEART SHAPE EGG FRYING PAN,-12,2011-03-22 16:07:00,1.65,12352,Norway
3,C547388,37448,CERAMIC CAKE DESIGN SPOTTED MUG,-12,2011-03-22 16:07:00,1.49,12352,Norway
4,C547388,22784,LANTERN CREAM GAZEBO,-3,2011-03-22 16:07:00,4.95,12352,Norway
...,...,...,...,...,...,...,...,...
8867,C577832,21231,SWEETHEART CERAMIC TRINKET BOX,-12,2011-11-22 10:18:00,1.25,18274,United Kingdom
8868,C577386,23401,RUSTIC MIRROR WITH LACE HEART,-1,2011-11-18 16:54:00,6.25,18276,United Kingdom
8869,C577390,23401,RUSTIC MIRROR WITH LACE HEART,-1,2011-11-18 17:01:00,6.25,18276,United Kingdom
8870,C542086,22423,REGENCY CAKESTAND 3 TIER,-1,2011-01-25 12:34:00,12.75,18277,United Kingdom
8871,C562808,23187,FRENCH STYLE STORAGE JAR BONBONS,-5,2011-08-09 15:10:00,0.29,18282,United Kingdom

In [350]:
# canceled items
# same result
data[data.Quantity<0].sort_values('CustomerID').reset_index(drop=True)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,C541433,23166,MEDIUM CERAMIC TOP STORAGE JAR,-74215,2011-01-18 10:17:00,1.04,12346,United Kingdom
1,C547388,21914,BLUE HARMONICA IN BOX,-12,2011-03-22 16:07:00,1.25,12352,Norway
2,C547388,84050,PINK HEART SHAPE EGG FRYING PAN,-12,2011-03-22 16:07:00,1.65,12352,Norway
3,C547388,37448,CERAMIC CAKE DESIGN SPOTTED MUG,-12,2011-03-22 16:07:00,1.49,12352,Norway
4,C547388,22784,LANTERN CREAM GAZEBO,-3,2011-03-22 16:07:00,4.95,12352,Norway
...,...,...,...,...,...,...,...,...
8867,C577832,21231,SWEETHEART CERAMIC TRINKET BOX,-12,2011-11-22 10:18:00,1.25,18274,United Kingdom
8868,C577386,23401,RUSTIC MIRROR WITH LACE HEART,-1,2011-11-18 16:54:00,6.25,18276,United Kingdom
8869,C577390,23401,RUSTIC MIRROR WITH LACE HEART,-1,2011-11-18 17:01:00,6.25,18276,United Kingdom
8870,C542086,22423,REGENCY CAKESTAND 3 TIER,-1,2011-01-25 12:34:00,12.75,18277,United Kingdom
8871,C562808,23187,FRENCH STYLE STORAGE JAR BONBONS,-5,2011-08-09 15:10:00,0.29,18282,United Kingdom

In [351]:
# completed items
# same result
data[data.Quantity>0].sort_values('CustomerID').reset_index(drop=True)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346,United Kingdom
1,537626,84558A,3D DOG PICTURE PLAYING CARDS,24,2010-12-07 14:57:00,2.95,12347,Iceland
2,537626,22727,ALARM CLOCK BAKELIKE RED,4,2010-12-07 14:57:00,3.75,12347,Iceland
3,537626,22728,ALARM CLOCK BAKELIKE PINK,4,2010-12-07 14:57:00,3.75,12347,Iceland
4,537626,22729,ALARM CLOCK BAKELIKE ORANGE,4,2010-12-07 14:57:00,3.75,12347,Iceland
...,...,...,...,...,...,...,...,...
392687,570715,22065,CHRISTMAS PUDDING TRINKET POT,48,2011-10-12 10:23:00,0.39,18287,United Kingdom
392688,570715,21824,PAINTED METAL STAR WITH HOLLY BELLS,24,2011-10-12 10:23:00,0.39,18287,United Kingdom
392689,570715,22306,SILVER MUG BONE CHINA TREE OF LIFE,24,2011-10-12 10:23:00,1.06,18287,United Kingdom
392690,570715,21481,FAWN BLUE HOT WATER BOTTLE,4,2011-10-12 10:23:00,3.75,18287,United Kingdom
392691,570715,22419,LIPSTICK PEN RED,12,2011-10-12 10:23:00,0.42,18287,United Kingdom

#### **Transactions Affected by Returned**

In [412]:
data.reset_index(drop=True, inplace=True)
dataIdx = data.copy()
dataIdx['idx'] = dataIdx.index
dataIdx

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,idx
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,0
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,1
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,2
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,3
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,4
...,...,...,...,...,...,...,...,...,...
401559,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,401559
401560,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,401560
401561,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,401561
401562,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,401562
401563,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,401563

In [413]:
dataCompleted = dataIdx[dataIdx.Quantity>0]
dataCanceled = dataIdx[dataIdx.Quantity<0]
dataReturned = pd.merge(dataCompleted, dataCanceled, how='inner',
                   on=['StockCode', 'Description', 'CustomerID', 'Country', 'UnitPrice'], 
                   suffixes=['_completed', '_canceled'])
dataReturned

,InvoiceNo_completed,StockCode,Description,Quantity_completed,InvoiceDate_completed,UnitPrice,CustomerID,Country,idx_completed,InvoiceNo_canceled,Quantity_canceled,InvoiceDate_canceled,idx_canceled
0,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,6,C543611,-1,2011-02-10 14:38:00,54577
1,536373,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 09:02:00,4.25,17850,United Kingdom,64,C543611,-1,2011-02-10 14:38:00,54577
2,536375,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 09:32:00,4.25,17850,United Kingdom,81,C543611,-1,2011-02-10 14:38:00,54577
3,536396,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 10:51:00,4.25,17850,United Kingdom,295,C543611,-1,2011-02-10 14:38:00,54577
4,536406,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 11:33:00,4.25,17850,United Kingdom,432,C543611,-1,2011-02-10 14:38:00,54577
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19811,581469,51014C,"FEATHER PEN,COAL BLACK",12,2011-12-08 19:28:00,0.39,14606,United Kingdom,400832,C570331,-1,2011-10-10 12:18:00,284017
19812,581469,51014C,"FEATHER PEN,COAL BLACK",12,2011-12-08 19:28:00,0.39,14606,United Kingdom,400832,C574026,-1,2011-11-02 12:26:00,322301
19813,581469,84029E,RED WOOLLY HOTTIE WHITE HEART.,1,2011-12-08 19:28:00,4.25,14606,United Kingdom,400841,C565848,-1,2011-09-07 12:48:00,236299
19814,581469,21485,RETROSPOT HEART HOT WATER BOTTLE,1,2011-12-08 19:28:00,4.95,14606,United Kingdom,400842,C565848,-1,2011-09-07 12:48:00,236300
19815,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446,United Kingdom,401091,C581484,-80995,2011-12-09 09:27:00,401092

##### **By Quantity**

In [414]:
dataReturnedQtyMT = dataReturned[dataReturned.Quantity_completed < np.abs(dataReturned.Quantity_canceled)]
dataReturnedQtyEQ = dataReturned[dataReturned.Quantity_completed == np.abs(dataReturned.Quantity_canceled)]
dataReturnedQtyLT = dataReturned[dataReturned.Quantity_completed > np.abs(dataReturned.Quantity_canceled)]
print(line)
print(f'Transaction Items Affected by Returned => {len(dataReturned)}')
print(line)
print(f'Purchase Quantity > Return Quantity \t: {len(dataReturnedQtyLT)}')
display(dataReturnedQtyLT)
print(line)
print(f'Purchase Quantity == Return Quantity \t: {len(dataReturnedQtyEQ)}')
display(dataReturnedQtyEQ)
print(line)
print(f'Purchase Quantity < Return Quantity \t: {len(dataReturnedQtyMT)}')
display(dataReturnedQtyMT)

========================
Transaction Items Affected by Returned => 19816
========================
Purchase Quantity > Return Quantity 	: 13237

,InvoiceNo_completed,StockCode,Description,Quantity_completed,InvoiceDate_completed,UnitPrice,CustomerID,Country,idx_completed,InvoiceNo_canceled,Quantity_canceled,InvoiceDate_canceled,idx_canceled
0,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,6,C543611,-1,2011-02-10 14:38:00,54577
1,536373,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 09:02:00,4.25,17850,United Kingdom,64,C543611,-1,2011-02-10 14:38:00,54577
2,536375,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 09:32:00,4.25,17850,United Kingdom,81,C543611,-1,2011-02-10 14:38:00,54577
3,536396,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 10:51:00,4.25,17850,United Kingdom,295,C543611,-1,2011-02-10 14:38:00,54577
4,536406,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 11:33:00,4.25,17850,United Kingdom,432,C543611,-1,2011-02-10 14:38:00,54577
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19803,580719,84946,ANTIQUE SILVER T-LIGHT GLASS,72,2011-12-05 16:54:00,1.06,14739,United Kingdom,392875,C581162,-3,2011-12-07 14:32:00,397647
19804,580978,22107,PIZZA PLATE IN BOX,8,2011-12-06 15:36:00,1.25,13078,United Kingdom,395841,C581460,-1,2011-12-08 18:48:00,400744
19808,581179,21232,STRAWBERRY CERAMIC TRINKET POT,48,2011-12-07 15:43:00,1.25,12471,Germany,398037,C573037,-2,2011-10-27 13:45:00,312437
19811,581469,51014C,"FEATHER PEN,COAL BLACK",12,2011-12-08 19:28:00,0.39,14606,United Kingdom,400832,C570331,-1,2011-10-10 12:18:00,284017
19812,581469,51014C,"FEATHER PEN,COAL BLACK",12,2011-12-08 19:28:00,0.39,14606,United Kingdom,400832,C574026,-1,2011-11-02 12:26:00,322301

========================
Purchase Quantity == Return Quantity 	: 5382

,InvoiceNo_completed,StockCode,Description,Quantity_completed,InvoiceDate_completed,UnitPrice,CustomerID,Country,idx_completed,InvoiceNo_canceled,Quantity_canceled,InvoiceDate_canceled,idx_canceled
28,557627,POST,POSTAGE,1,2011-06-21 14:30:00,18.00,12583,France,167229,C543992,-1,2011-02-15 10:29:00,57005
30,564471,POST,POSTAGE,1,2011-08-25 12:26:00,18.00,12583,France,225567,C543992,-1,2011-02-15 10:29:00,57005
33,570851,POST,POSTAGE,1,2011-10-12 14:46:00,18.00,12583,France,289242,C543992,-1,2011-02-15 10:29:00,57005
51,536373,21071,VINTAGE BILLBOARD DRINK ME MUG,6,2010-12-01 09:02:00,1.06,17850,United Kingdom,55,C543611,-6,2011-02-10 14:38:00,54580
52,536375,21071,VINTAGE BILLBOARD DRINK ME MUG,6,2010-12-01 09:32:00,1.06,17850,United Kingdom,72,C543611,-6,2011-02-10 14:38:00,54580
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19809,581325,16169E,WRAP 50'S CHRISTMAS,100,2011-12-08 11:53:00,0.42,15877,United Kingdom,398941,C581330,-100,2011-12-08 11:57:00,398960
19810,581325,22959,WRAP CHRISTMAS VILLAGE,25,2011-12-08 11:53:00,0.42,15877,United Kingdom,398942,C581330,-25,2011-12-08 11:57:00,398959
19813,581469,84029E,RED WOOLLY HOTTIE WHITE HEART.,1,2011-12-08 19:28:00,4.25,14606,United Kingdom,400841,C565848,-1,2011-09-07 12:48:00,236299
19814,581469,21485,RETROSPOT HEART HOT WATER BOTTLE,1,2011-12-08 19:28:00,4.95,14606,United Kingdom,400842,C565848,-1,2011-09-07 12:48:00,236300
19815,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446,United Kingdom,401091,C581484,-80995,2011-12-09 09:27:00,401092

========================
Purchase Quantity < Return Quantity 	: 1197

,InvoiceNo_completed,StockCode,Description,Quantity_completed,InvoiceDate_completed,UnitPrice,CustomerID,Country,idx_completed,InvoiceNo_canceled,Quantity_canceled,InvoiceDate_canceled,idx_canceled
97,536373,82494L,WOODEN FRAME ANTIQUE WHITE,6,2010-12-01 09:02:00,2.55,17850,United Kingdom,60,C543611,-12,2011-02-10 14:38:00,54579
99,536375,82494L,WOODEN FRAME ANTIQUE WHITE,6,2010-12-01 09:32:00,2.55,17850,United Kingdom,77,C543611,-12,2011-02-10 14:38:00,54579
103,536406,82494L,WOODEN FRAME ANTIQUE WHITE,6,2010-12-01 11:33:00,2.55,17850,United Kingdom,427,C543611,-12,2011-02-10 14:38:00,54579
105,536600,82494L,WOODEN FRAME ANTIQUE WHITE,6,2010-12-02 08:32:00,2.55,17850,United Kingdom,1939,C543611,-12,2011-02-10 14:38:00,54579
107,536609,82494L,WOODEN FRAME ANTIQUE WHITE,6,2010-12-02 09:41:00,2.55,17850,United Kingdom,2018,C543611,-12,2011-02-10 14:38:00,54579
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19684,578088,21098,CHRISTMAS TOILET ROLL,2,2011-11-22 16:47:00,1.25,16376,United Kingdom,366699,C579948,-3,2011-12-01 10:56:00,384558
19685,578088,21098,CHRISTMAS TOILET ROLL,1,2011-11-22 16:47:00,1.25,16376,United Kingdom,366723,C579948,-3,2011-12-01 10:56:00,384558
19724,578936,22952,60 CAKE CASES VINTAGE CHRISTMAS,5,2011-11-27 13:00:00,0.55,16923,United Kingdom,375271,C542413,-24,2011-01-27 17:11:00,45474
19725,578936,21485,RETROSPOT HEART HOT WATER BOTTLE,2,2011-11-27 13:00:00,4.95,16923,United Kingdom,375316,C542413,-6,2011-01-27 17:11:00,45483
19763,579413,21670,BLUE SPOT CERAMIC DRAWER KNOB,4,2011-11-29 12:50:00,1.45,13668,United Kingdom,380402,C576968,-5,2011-11-17 11:51:00,354330

There is a return quantity that is more than the purchase quantity in the product purchase transaction. Why?
it may be due to the warranty claimed by the customer in the previous purchase transaction with the same product. However, with a small amount of data only 1,197 transaction items and data lacking information related to this, the transaction item can be ignored or removed. Likewise, transaction items with return quantities that are equal to the purchase quantity. There is no term explanation on how to process product returns therefore it can be assumed that these transaction items eliminate each other.

In [415]:
transactionItemsRemovedByQty = pd.concat([dataReturnedQtyMT, dataReturnedQtyEQ])
transactionItemsRemovedByQty
# data[(data.InvoiceNo.isin(transactionItemsRemovedByQty.InvoiceNo_completed)&
#       data.StockCode.isin(transactionItemsRemovedByQty.StockCode)&
#       data.Description.isin(transactionItemsRemovedByQty.Description)&
#       data.Quantity.isin(transactionItemsRemovedByQty.Quantity_completed)&
#       data.InvoiceDate.isin(transactionItemsRemovedByQty.InvoiceDate_completed)&
#       data.UnitPrice.isin(transactionItemsRemovedByQty.UnitPrice)&
#       data.CustomerID.isin(transactionItemsRemovedByQty.CustomerID)&
#       data.Country.isin(transactionItemsRemovedByQty.Country)
#       )]

,InvoiceNo_completed,StockCode,Description,Quantity_completed,InvoiceDate_completed,UnitPrice,CustomerID,Country,idx_completed,InvoiceNo_canceled,Quantity_canceled,InvoiceDate_canceled,idx_canceled
97,536373,82494L,WOODEN FRAME ANTIQUE WHITE,6,2010-12-01 09:02:00,2.55,17850,United Kingdom,60,C543611,-12,2011-02-10 14:38:00,54579
99,536375,82494L,WOODEN FRAME ANTIQUE WHITE,6,2010-12-01 09:32:00,2.55,17850,United Kingdom,77,C543611,-12,2011-02-10 14:38:00,54579
103,536406,82494L,WOODEN FRAME ANTIQUE WHITE,6,2010-12-01 11:33:00,2.55,17850,United Kingdom,427,C543611,-12,2011-02-10 14:38:00,54579
105,536600,82494L,WOODEN FRAME ANTIQUE WHITE,6,2010-12-02 08:32:00,2.55,17850,United Kingdom,1939,C543611,-12,2011-02-10 14:38:00,54579
107,536609,82494L,WOODEN FRAME ANTIQUE WHITE,6,2010-12-02 09:41:00,2.55,17850,United Kingdom,2018,C543611,-12,2011-02-10 14:38:00,54579
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19809,581325,16169E,WRAP 50'S CHRISTMAS,100,2011-12-08 11:53:00,0.42,15877,United Kingdom,398941,C581330,-100,2011-12-08 11:57:00,398960
19810,581325,22959,WRAP CHRISTMAS VILLAGE,25,2011-12-08 11:53:00,0.42,15877,United Kingdom,398942,C581330,-25,2011-12-08 11:57:00,398959
19813,581469,84029E,RED WOOLLY HOTTIE WHITE HEART.,1,2011-12-08 19:28:00,4.25,14606,United Kingdom,400841,C565848,-1,2011-09-07 12:48:00,236299
19814,581469,21485,RETROSPOT HEART HOT WATER BOTTLE,1,2011-12-08 19:28:00,4.95,14606,United Kingdom,400842,C565848,-1,2011-09-07 12:48:00,236300
19815,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446,United Kingdom,401091,C581484,-80995,2011-12-09 09:27:00,401092

In [442]:
transactionItemsRemovedByQty[transactionItemsRemovedByQty.duplicated()]

Empty DataFrame
Columns: [InvoiceNo_completed, StockCode, Description, Quantity_completed, InvoiceDate_completed, UnitPrice, CustomerID, Country, idx_completed, InvoiceNo_canceled, Quantity_canceled, InvoiceDate_canceled, idx_canceled]
Index: []

In [441]:
transactionItemsRemovedByQty.idx_completed.value_counts()

200420    5
116812    5
98256     5
318520    5
258034    5
         ..
32591     1
32420     1
202204    1
335522    1
401091    1
Name: idx_completed, Length: 6068, dtype: int64

In [440]:
transactionItemsRemovedByQty.idx_completed.sort_values()

51           55
67           57
97           60
52           72
69           74
          ...
19814    400842
10474    400899
19815    401091
1068     401484
17446    401526
Name: idx_completed, Length: 6579, dtype: int64

In [437]:
data[data.index.isin(transactionItemsRemovedByQty.idx_canceled.to_list())]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
1405,C536543,22355,CHARLOTTE BAG SUKI DESIGN,-2,2010-12-01 14:30:00,0.85,17841,United Kingdom
1416,C536548,22168,ORGANISER WOOD ANTIQUE WHITE,-2,2010-12-01 14:33:00,8.50,12472,Germany
2154,C536622,22752,SET 7 BABUSHKA NESTING BOXES,-2,2010-12-02 10:37:00,8.50,12471,Germany
2226,C536625,22839,3 TIER CAKE TIN GREEN AND CREAM,-2,2010-12-02 10:46:00,14.95,14766,United Kingdom
2708,C536734,22780,LIGHT GARLAND BUTTERFILES PINK,-4,2010-12-02 12:50:00,4.25,16042,United Kingdom
...,...,...,...,...,...,...,...,...
399892,C581409,23462,ROCOCO WALL MIRROR WHITE,-1,2011-12-08 14:08:00,19.95,12476,Germany
399898,C581409,85127,SMALL SQUARE CUT GLASS CANDLESTICK,-5,2011-12-08 14:08:00,4.95,12476,Germany
400749,C581462,16219,HOUSE SHAPE PENCIL SHARPENER,-48,2011-12-08 18:51:00,0.06,12985,United Kingdom
400750,C581462,21642,ASSORTED TUTTI FRUTTI PEN,-72,2011-12-08 18:51:00,0.29,12985,United Kingdom
401092,C581484,23843,"PAPER CRAFT , LITTLE BIRDIE",-80995,2011-12-09 09:27:00,2.08,16446,United Kingdom

In [424]:
data.iloc[(transactionItemsRemovedByQty.idx_completed.to_list())]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
60,536373,82494L,WOODEN FRAME ANTIQUE WHITE,6,2010-12-01 09:02:00,2.55,17850,United Kingdom
77,536375,82494L,WOODEN FRAME ANTIQUE WHITE,6,2010-12-01 09:32:00,2.55,17850,United Kingdom
427,536406,82494L,WOODEN FRAME ANTIQUE WHITE,6,2010-12-01 11:33:00,2.55,17850,United Kingdom
1939,536600,82494L,WOODEN FRAME ANTIQUE WHITE,6,2010-12-02 08:32:00,2.55,17850,United Kingdom
2018,536609,82494L,WOODEN FRAME ANTIQUE WHITE,6,2010-12-02 09:41:00,2.55,17850,United Kingdom
...,...,...,...,...,...,...,...,...
398941,581325,16169E,WRAP 50'S CHRISTMAS,100,2011-12-08 11:53:00,0.42,15877,United Kingdom
398942,581325,22959,WRAP CHRISTMAS VILLAGE,25,2011-12-08 11:53:00,0.42,15877,United Kingdom
400841,581469,84029E,RED WOOLLY HOTTIE WHITE HEART.,1,2011-12-08 19:28:00,4.25,14606,United Kingdom
400842,581469,21485,RETROSPOT HEART HOT WATER BOTTLE,1,2011-12-08 19:28:00,4.95,14606,United Kingdom
401091,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446,United Kingdom

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
398941,581325,16169E,WRAP 50'S CHRISTMAS,100,2011-12-08 11:53:00,0.42,15877,United Kingdom
398942,581325,22959,WRAP CHRISTMAS VILLAGE,25,2011-12-08 11:53:00,0.42,15877,United Kingdom
400841,581469,84029E,RED WOOLLY HOTTIE WHITE HEART.,1,2011-12-08 19:28:00,4.25,14606,United Kingdom
400842,581469,21485,RETROSPOT HEART HOT WATER BOTTLE,1,2011-12-08 19:28:00,4.95,14606,United Kingdom
401091,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446,United Kingdom

In [433]:
data[data.index.isin(transactionItemsRemovedByQty.idx_completed.to_list())]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
55,536373,21071,VINTAGE BILLBOARD DRINK ME MUG,6,2010-12-01 09:02:00,1.06,17850,United Kingdom
57,536373,82483,WOOD 2 DRAWER CABINET WHITE FINISH,2,2010-12-01 09:02:00,4.95,17850,United Kingdom
60,536373,82494L,WOODEN FRAME ANTIQUE WHITE,6,2010-12-01 09:02:00,2.55,17850,United Kingdom
72,536375,21071,VINTAGE BILLBOARD DRINK ME MUG,6,2010-12-01 09:32:00,1.06,17850,United Kingdom
74,536375,82483,WOOD 2 DRAWER CABINET WHITE FINISH,2,2010-12-01 09:32:00,4.95,17850,United Kingdom
...,...,...,...,...,...,...,...,...
400842,581469,21485,RETROSPOT HEART HOT WATER BOTTLE,1,2011-12-08 19:28:00,4.95,14606,United Kingdom
400899,581473,22992,REVOLVER WOODEN RULER,1,2011-12-08 19:57:00,1.95,12748,United Kingdom
401091,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446,United Kingdom
401484,581579,22083,PAPER CHAIN KIT RETROSPOT,6,2011-12-09 12:19:00,2.95,17581,United Kingdom
401526,581585,22178,VICTORIAN GLASS HANGING T-LIGHT,12,2011-12-09 12:31:00,1.95,15804,United Kingdom

In [380]:
vvv = ['536373', '82494L', 'WOODEN FRAME ANTIQUE WHITE', 6, '2010-12-01 09:02:00', 2.55, '17850', 'United Kingdom']
data[data.InvoiceNo.]

Series([], dtype: int64)

In [370]:
data[(
      data.InvoiceNo.isin(transactionItemsRemovedByQty.InvoiceNo_completed)&
      data.StockCode.isin(transactionItemsRemovedByQty.StockCode)&
      data.Description.isin(transactionItemsRemovedByQty.Description)&
      data.Quantity.isin(transactionItemsRemovedByQty.Quantity_completed)&
      data.InvoiceDate.isin(transactionItemsRemovedByQty.InvoiceDate_completed)&
      data.UnitPrice.isin(transactionItemsRemovedByQty.UnitPrice)&
      data.CustomerID.isin(transactionItemsRemovedByQty.CustomerID)&
      data.Country.isin(transactionItemsRemovedByQty.Country)
      )]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:02:00,2.55,17850,United Kingdom
50,536373,71053,WHITE METAL LANTERN,6,2010-12-01 09:02:00,3.39,17850,United Kingdom
51,536373,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 09:02:00,2.75,17850,United Kingdom
52,536373,20679,EDWARDIAN PARASOL RED,6,2010-12-01 09:02:00,4.95,17850,United Kingdom
54,536373,21871,SAVE THE PLANET MUG,6,2010-12-01 09:02:00,1.06,17850,United Kingdom
...,...,...,...,...,...,...,...,...
541880,581585,22727,ALARM CLOCK BAKELIKE RED,4,2011-12-09 12:31:00,3.75,15804,United Kingdom
541882,581585,21916,SET 12 RETRO WHITE CHALK STICKS,24,2011-12-09 12:31:00,0.42,15804,United Kingdom
541884,581585,84946,ANTIQUE SILVER T-LIGHT GLASS,12,2011-12-09 12:31:00,1.25,15804,United Kingdom
541886,581585,22398,MAGNETS PACK OF 4 SWALLOWS,12,2011-12-09 12:31:00,0.39,15804,United Kingdom
541887,581585,23328,SET 6 SCHOOL MILK BOTTLES IN CRATE,4,2011-12-09 12:31:00,3.75,15804,United Kingdom

In [ ]:

# dataReturnedABeforeCheckout = dataReturned[dataReturned['InvoiceDate_completed'] >= dataReturned['InvoiceDate_canceled']]
# dataReturnedAAfterCheckout = dataReturned[dataReturned['InvoiceDate_completed'] < dataReturned['InvoiceDate_canceled']]
# print(line)
# print(f'Returned Transactions\t\t\t: {len(dataReturned)}')
# print(line)
# print(f'Returned Transactions Before Checkout\t: {len(dataReturnedABeforeCheckout)}')
# print('Samples:')
# display(dataReturnedABeforeCheckout.sample(3))
# print(line)
# print(f'Returned Transactions After Checkout\t: {len(dataReturnedAAfterCheckout)}')
# print('Samples:')
# display(dataReturnedAAfterCheckout.sample(3))

In [334]:
dataCompleted = data[data.Quantity>0]
dataCanceled = data[data.Quantity<0]
dataReturned = pd.merge(dataCompleted, dataCanceled, how='inner',
                   on=['StockCode', 'Description', 'CustomerID', 'Country', 'UnitPrice'], 
                   suffixes=['_completed', '_canceled'])
dataReturnedABeforeCheckout = dataReturned[dataReturned['InvoiceDate_completed'] >= dataReturned['InvoiceDate_canceled']]
dataReturnedAAfterCheckout = dataReturned[dataReturned['InvoiceDate_completed'] < dataReturned['InvoiceDate_canceled']]
print(line)
print(f'Returned Transactions\t\t\t: {len(dataReturned)}')
print(line)
print(f'Returned Transactions Before Checkout\t: {len(dataReturnedABeforeCheckout)}')
print('Samples:')
display(dataReturnedABeforeCheckout.sample(3))
print(line)
print(f'Returned Transactions After Checkout\t: {len(dataReturnedAAfterCheckout)}')
print('Samples:')
display(dataReturnedAAfterCheckout.sample(3))

========================
Returned Transactions			: 19816
========================
Returned Transactions Before Checkout	: 6629
Samples:

,InvoiceNo_completed,StockCode,Description,Quantity_completed,InvoiceDate_completed,UnitPrice,CustomerID,Country,InvoiceNo_canceled,Quantity_canceled,InvoiceDate_canceled
4514,544398,20829,GLITTER HANGING BUTTERFLY STRING,4,2011-02-18 12:27:00,2.10,15311,United Kingdom,C537805,-1,2010-12-08 13:18:00
12581,581334,23148,MINIATURE ANTIQUE ROSE HOOK IVORY,3,2011-12-08 12:07:00,0.83,17841,United Kingdom,C577547,-7,2011-11-20 14:48:00
5039,568654,15056N,EDWARDIAN PARASOL NATURAL,3,2011-09-28 12:20:00,5.95,14911,EIRE,C539576,-6,2010-12-20 12:25:00

========================
Returned Transactions After Checkout	: 13187
Samples:

,InvoiceNo_completed,StockCode,Description,Quantity_completed,InvoiceDate_completed,UnitPrice,CustomerID,Country,InvoiceNo_canceled,Quantity_canceled,InvoiceDate_canceled
11839,553390,85114B,IVORY ENCHANTED FOREST PLACEMAT,8,2011-05-16 16:41:00,1.65,17841,United Kingdom,C569233,-2,2011-10-02 15:26:00
12072,576665,21927,BLUE/CREAM STRIPE CUSHION COVER,2,2011-11-16 11:46:00,1.25,17841,United Kingdom,C578280,-4,2011-11-23 13:53:00
10606,568225,21232,STRAWBERRY CERAMIC TRINKET BOX,12,2011-09-26 10:35:00,1.25,13014,United Kingdom,C568582,-3,2011-09-28 10:02:00

In [340]:
dataCompleted = data[data.Quantity>0]
dataCanceled = data[data.Quantity<0]
dataReturned = pd.merge(dataCompleted, dataCanceled, how='inner',
                   on=['StockCode', 'Description', 'CustomerID', 'Country', 'UnitPrice'], 
                   suffixes=['_completed', '_canceled'])
dataReturnedABeforeCheckout = dataReturned[dataReturned['InvoiceDate_completed'] >= dataReturned['InvoiceDate_canceled']]
dataReturnedAAfterCheckout = dataReturned[dataReturned['InvoiceDate_completed'] < dataReturned['InvoiceDate_canceled']]
print(line)
print(f'Returned Transactions\t\t\t: {len(dataReturned)}')
print(line)
print(f'Returned Transactions Before Checkout\t: {len(dataReturnedABeforeCheckout)}')
print('Samples:')
display(dataReturnedABeforeCheckout.sample(3))
print(line)
print(f'Returned Transactions After Checkout\t: {len(dataReturnedAAfterCheckout)}')
print('Samples:')
display(dataReturnedAAfterCheckout.sample(3))

========================
Returned Transactions			: 19816
========================
Returned Transactions Before Checkout	: 6629
Samples:

,InvoiceNo_completed,StockCode,Description,Quantity_completed,InvoiceDate_completed,UnitPrice,CustomerID,Country,InvoiceNo_canceled,Quantity_canceled,InvoiceDate_canceled
1397,579910,22423,REGENCY CAKESTAND 3 TIER,3,2011-12-01 08:52:00,12.75,14911,EIRE,C563600,-1,2011-08-18 06:24:00
9681,565478,82483,WOOD 2 DRAWER CABINET WHITE FINISH,1,2011-09-05 11:18:00,6.95,15005,United Kingdom,C551285,-1,2011-04-27 14:07:00
5553,570388,22961,JAM MAKING SET PRINTED,12,2011-10-10 12:37:00,1.45,14911,EIRE,C557874,-1,2011-06-23 13:05:00

========================
Returned Transactions After Checkout	: 13187
Samples:

,InvoiceNo_completed,StockCode,Description,Quantity_completed,InvoiceDate_completed,UnitPrice,CustomerID,Country,InvoiceNo_canceled,Quantity_canceled,InvoiceDate_canceled
2584,538900,21463,MIRRORED DISCO BALL,2,2010-12-15 09:51:00,5.95,13078,United Kingdom,C549898,-2,2011-04-12 16:00:00
13454,552950,22796,PHOTO FRAME 3 CLASSIC HANGING,2,2011-05-12 12:01:00,9.95,16116,United Kingdom,C553569,-2,2011-05-18 09:23:00
4599,548673,22423,REGENCY CAKESTAND 3 TIER,6,2011-04-01 16:18:00,12.75,13767,United Kingdom,C575662,-5,2011-11-10 14:48:00

Terdapat transaksi refund dengan jumlah produk yang direfund lebih besar dibandingkan dengan jumlah produk yang dibeli. Hal ini bisa saja dikarenakan oleh guaranteed, human error, atau apa pun. Namun, data kurang informasi mengenai hal tersebut. Jumlah transaksi hanya 2 x 1197 = 2394. Oleh karena itu dapat diremoved untuk menghindari inkonsistensi data.

In [330]:
dataCanceled

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,2010-12-01 09:41:00,27.50,14527,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-01 09:49:00,4.65,15311,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2010-12-01 10:24:00,1.65,17548,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,2010-12-01 10:24:00,0.29,17548,United Kingdom
...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,2011-12-09 09:57:00,0.83,14397,United Kingdom
541541,C581499,M,Manual,-1,2011-12-09 10:28:00,224.69,15498,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,2011-12-09 11:57:00,10.95,15311,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,2011-12-09 11:58:00,1.25,17315,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,2011-12-09 11:58:00,1.25,17315,United Kingdom

In [333]:
dataReturnedQtyErr = dataReturned[dataReturned.Quantity_completed >= np.abs(dataReturned.Quantity_canceled)]
dataReturnedQtyErr

,InvoiceNo_completed,StockCode,Description,Quantity_completed,InvoiceDate_completed,UnitPrice,CustomerID,Country,InvoiceNo_canceled,Quantity_canceled,InvoiceDate_canceled
0,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,C543611,-1,2011-02-10 14:38:00
1,536373,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 09:02:00,4.25,17850,United Kingdom,C543611,-1,2011-02-10 14:38:00
2,536375,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 09:32:00,4.25,17850,United Kingdom,C543611,-1,2011-02-10 14:38:00
3,536396,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 10:51:00,4.25,17850,United Kingdom,C543611,-1,2011-02-10 14:38:00
4,536406,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 11:33:00,4.25,17850,United Kingdom,C543611,-1,2011-02-10 14:38:00
...,...,...,...,...,...,...,...,...,...,...,...
19811,581469,51014C,"FEATHER PEN,COAL BLACK",12,2011-12-08 19:28:00,0.39,14606,United Kingdom,C570331,-1,2011-10-10 12:18:00
19812,581469,51014C,"FEATHER PEN,COAL BLACK",12,2011-12-08 19:28:00,0.39,14606,United Kingdom,C574026,-1,2011-11-02 12:26:00
19813,581469,84029E,RED WOOLLY HOTTIE WHITE HEART.,1,2011-12-08 19:28:00,4.25,14606,United Kingdom,C565848,-1,2011-09-07 12:48:00
19814,581469,21485,RETROSPOT HEART HOT WATER BOTTLE,1,2011-12-08 19:28:00,4.95,14606,United Kingdom,C565848,-1,2011-09-07 12:48:00
19815,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446,United Kingdom,C581484,-80995,2011-12-09 09:27:00

##### **Drop Returned Quantity > Buying Quantity**

In [305]:
dataReturnedQtyErr

,InvoiceNo_completed,StockCode,Description,Quantity_completed,InvoiceDate_completed,UnitPrice,CustomerID,Country,InvoiceNo_canceled,Quantity_canceled,InvoiceDate_canceled
97,536373,82494L,WOODEN FRAME ANTIQUE WHITE,6,2010-12-01 09:02:00,2.55,17850,United Kingdom,C543611,-12,2011-02-10 14:38:00
99,536375,82494L,WOODEN FRAME ANTIQUE WHITE,6,2010-12-01 09:32:00,2.55,17850,United Kingdom,C543611,-12,2011-02-10 14:38:00
103,536406,82494L,WOODEN FRAME ANTIQUE WHITE,6,2010-12-01 11:33:00,2.55,17850,United Kingdom,C543611,-12,2011-02-10 14:38:00
105,536600,82494L,WOODEN FRAME ANTIQUE WHITE,6,2010-12-02 08:32:00,2.55,17850,United Kingdom,C543611,-12,2011-02-10 14:38:00
107,536609,82494L,WOODEN FRAME ANTIQUE WHITE,6,2010-12-02 09:41:00,2.55,17850,United Kingdom,C543611,-12,2011-02-10 14:38:00
...,...,...,...,...,...,...,...,...,...,...,...
19684,578088,21098,CHRISTMAS TOILET ROLL,2,2011-11-22 16:47:00,1.25,16376,United Kingdom,C579948,-3,2011-12-01 10:56:00
19685,578088,21098,CHRISTMAS TOILET ROLL,1,2011-11-22 16:47:00,1.25,16376,United Kingdom,C579948,-3,2011-12-01 10:56:00
19724,578936,22952,60 CAKE CASES VINTAGE CHRISTMAS,5,2011-11-27 13:00:00,0.55,16923,United Kingdom,C542413,-24,2011-01-27 17:11:00
19725,578936,21485,RETROSPOT HEART HOT WATER BOTTLE,2,2011-11-27 13:00:00,4.95,16923,United Kingdom,C542413,-6,2011-01-27 17:11:00
19763,579413,21670,BLUE SPOT CERAMIC DRAWER KNOB,4,2011-11-29 12:50:00,1.45,13668,United Kingdom,C576968,-5,2011-11-17 11:51:00

In [327]:
data[(data.InvoiceNo.isin(dataReturnedQtyErr.InvoiceNo_completed)&
      data.StockCode.isin(dataReturnedQtyErr.StockCode)&
      data.Description.isin(dataReturnedQtyErr.Description)&
      data.Quantity.isin(dataReturnedQtyErr.Quantity_completed)&
      data.InvoiceDate.isin(dataReturnedQtyErr.InvoiceDate_completed)&
      data.UnitPrice.isin(dataReturnedQtyErr.UnitPrice)&
      data.CustomerID.isin(dataReturnedQtyErr.CustomerID)&
      data.Country.isin(dataReturnedQtyErr.Country)
      )]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:02:00,2.55,17850,United Kingdom
52,536373,20679,EDWARDIAN PARASOL RED,6,2010-12-01 09:02:00,4.95,17850,United Kingdom
54,536373,21871,SAVE THE PLANET MUG,6,2010-12-01 09:02:00,1.06,17850,United Kingdom
57,536373,82483,WOOD 2 DRAWER CABINET WHITE FINISH,2,2010-12-01 09:02:00,4.95,17850,United Kingdom
59,536373,82482,WOODEN PICTURE FRAME WHITE FINISH,6,2010-12-01 09:02:00,2.10,17850,United Kingdom
...,...,...,...,...,...,...,...,...
540235,581473,21055,TOOL BOX SOFT TOY,1,2011-12-08 19:57:00,8.95,12748,United Kingdom
540240,581473,22086,PAPER CHAIN KIT 50'S CHRISTMAS,3,2011-12-08 19:57:00,2.95,12748,United Kingdom
540243,581473,23007,SPACEBOY BABY GIFT SET,1,2011-12-08 19:57:00,16.95,12748,United Kingdom
540245,581473,23080,RED METAL BOX TOP SECRET,1,2011-12-08 19:57:00,8.25,12748,United Kingdom
540246,581473,22845,VINTAGE CREAM CAT FOOD CONTAINER,1,2011-12-08 19:57:00,6.35,12748,United Kingdom

In [328]:
data[(data.InvoiceNo.isin(dataReturnedQtyErr.InvoiceNo_canceled)&
      data.StockCode.isin(dataReturnedQtyErr.StockCode)&
      data.Description.isin(dataReturnedQtyErr.Description)&
      data.Quantity.isin(dataReturnedQtyErr.Quantity_canceled)&
      data.InvoiceDate.isin(dataReturnedQtyErr.InvoiceDate_canceled)&
      data.UnitPrice.isin(dataReturnedQtyErr.UnitPrice)&
      data.CustomerID.isin(dataReturnedQtyErr.CustomerID)&
      data.Country.isin(dataReturnedQtyErr.Country)
      )]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
1442,C536543,22355,CHARLOTTE BAG SUKI DESIGN,-2,2010-12-01 14:30:00,0.85,17841,United Kingdom
3410,C536625,22839,3 TIER CAKE TIN GREEN AND CREAM,-2,2010-12-02 10:46:00,14.95,14766,United Kingdom
4836,C536807,22501,PICNIC BASKET WICKER LARGE,-2,2010-12-02 16:45:00,9.95,15834,United Kingdom
21467,C538083,85099B,JUMBO BAG RED RETROSPOT,-3,2010-12-09 14:40:00,1.95,15750,United Kingdom
21468,C538083,22633,HAND WARMER UNION JACK,-4,2010-12-09 14:40:00,2.10,15750,United Kingdom
...,...,...,...,...,...,...,...,...
533838,C581117,23311,VINTAGE CHRISTMAS STOCKING,-2,2011-12-07 12:24:00,2.55,16393,United Kingdom
536911,C581228,22423,REGENCY CAKESTAND 3 TIER,-6,2011-12-08 10:06:00,10.95,16019,United Kingdom
536913,C581228,82494L,WOODEN FRAME ANTIQUE WHITE,-6,2011-12-08 10:06:00,2.95,16019,United Kingdom
536914,C581228,22781,GUMBALL MAGAZINE RACK,-24,2011-12-08 10:06:00,6.75,16019,United Kingdom
536915,C581228,22467,GUMBALL COAT RACK,-36,2011-12-08 10:06:00,2.10,16019,United Kingdom

In [293]:
data[data.InvoiceNo=='562099' & StockCode='']

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
287237,562099,21930,JUMBO STORAGE BAG SKULLS,10,2011-08-02 13:46:00,2.08,14688,United Kingdom
287238,562099,21931,JUMBO STORAGE BAG SUKI,10,2011-08-02 13:46:00,2.08,14688,United Kingdom
287239,562099,22386,JUMBO BAG PINK POLKADOT,10,2011-08-02 13:46:00,2.08,14688,United Kingdom
287240,562099,23201,JUMBO BAG ALPHABET,10,2011-08-02 13:46:00,2.08,14688,United Kingdom
287241,562099,85099C,JUMBO BAG BAROQUE BLACK WHITE,10,2011-08-02 13:46:00,2.08,14688,United Kingdom
287242,562099,85099F,JUMBO BAG STRAWBERRY,10,2011-08-02 13:46:00,2.08,14688,United Kingdom
287243,562099,85099B,JUMBO BAG RED RETROSPOT,10,2011-08-02 13:46:00,2.08,14688,United Kingdom
287244,562099,23199,JUMBO BAG APPLES,10,2011-08-02 13:46:00,2.08,14688,United Kingdom
287245,562099,22380,TOY TIDY SPACEBOY,5,2011-08-02 13:46:00,2.10,14688,United Kingdom
287246,562099,21934,SKULL SHOULDER BAG,10,2011-08-02 13:46:00,1.65,14688,United Kingdom
287247,562099,21935,SUKI SHOULDER BAG,10,2011-08-02 13:46:00,1.65,14688,United Kingdom
287248,562099,20719,WOODLAND CHARLOTTE BAG,10,2011-08-02 13:46:00,0.85,14688,United Kingdom
287249,562099,20723,STRAWBERRY CHARLOTTE BAG,10,2011-08-02 13:46:00,0.85,14688,United Kingdom
287250,562099,22355,CHARLOTTE BAG SUKI DESIGN,10,2011-08-02 13:46:00,0.85,14688,United Kingdom
287251,562099,23205,CHARLOTTE BAG VINTAGE ALPHABET,10,2011-08-02 13:46:00,0.85,14688,United Kingdom
287252,562099,22356,CHARLOTTE BAG PINK POLKADOT,10,2011-08-02 13:46:00,0.85,14688,United Kingdom
287253,562099,23204,CHARLOTTE BAG APPLES DESIGN,10,2011-08-02 13:46:00,0.85,14688,United Kingdom
287254,562099,20724,RED RETROSPOT CHARLOTTE BAG,20,2011-08-02 13:46:00,0.85,14688,United Kingdom
287255,562099,20727,LUNCH BAG BLACK SKULL.,10,2011-08-02 13:46:00,1.65,14688,United Kingdom
287256,562099,20725,LUNCH BAG RED RETROSPOT,10,2011-08-02 13:46:00,1.65,14688,United Kingdom
287257,562099,22384,LUNCH BAG PINK POLKADOT,10,2011-08-02 13:46:00,1.65,14688,United Kingdom
287258,562099,47310M,SMALL POP BOX FUNKY MONKEY,6,2011-08-02 13:46:00,1.25,14688,United Kingdom
287259,562099,21430,SET/3 RED GINGHAM ROSE STORAGE BOX,4,2011-08-02 13:46:00,3.75,14688,United Kingdom
287260,562099,79321,CHILLI LIGHTS,4,2011-08-02 13:46:00,5.75,14688,United Kingdom
287261,562099,21172,PARTY METAL SIGN,12,2011-08-02 13:46:00,1.45,14688,United Kingdom
287262,562099,23321,SMALL WHITE HEART OF WICKER,20,2011-08-02 13:46:00,1.65,14688,United Kingdom

In [296]:
ea = dataReturnedQtyErr[['InvoiceNo_completed', 'InvoiceNo_canceled', 'StockCode']]
ea

      InvoiceNo_completed InvoiceNo_canceled StockCode
97                 536373            C543611    82494L
99                 536375            C543611    82494L
103                536406            C543611    82494L
105                536600            C543611    82494L
107                536609            C543611    82494L
...                   ...                ...       ...
19684              578088            C579948     21098
19685              578088            C579948     21098
19724              578936            C542413     22952
19725              578936            C542413     21485
19763              579413            C576968     21670

[1197 rows x 3 columns]

In [304]:
for x in list(zip(ea.InvoiceNo_completed, ea.StockCode)):
  print(x)

('536373', '82494L')
('536375', '82494L')
('536406', '82494L')
('536600', '82494L')
('536609', '82494L')
('536612', '82494L')
('536628', '82494L')
('536630', '82494L')
('536685', '82494L')
('536690', '82494L')
('536750', '82494L')
('536752', '82494L')
('536787', '82494L')
('536790', '82494L')
('536378', '20723')
('543400', '20723')
('545290', '20723')
('562099', '20723')
('536378', '84991')
('544105', '22469')
('538998', '20719')
('540648', '20719')
('541488', '20719')
('545412', '20719')
('546527', '20719')
('546540', '20719')
('547419', '20719')
('548406', '20719')
('536783', '85178')
('538998', '85178')
('562286', '22659')
('580873', '22659')
('536800', '84378')
('536804', '22423')
('539443', '22423')
('540396', '22423')
('554974', '22423')
('562534', '22423')
('572274', '22423')
('577393', '22423')
('536831', '22207')
('540029', '22207')
('541610', '22207')
('543247', '22207')
('547101', '22207')
('553469', '22207')
('554364', '22207')
('555585', '22207')
('559419', '22207')
('561646', '22207')
('562462', '22207')
('567456', '22207')
('569649', '22207')
('536858', 'POST')
('547815', 'POST')
('570714', 'POST')
('544392', '22356')
('536968', '71477')
('536968', '71477')
('536969', '71477')
('536969', '71477')
('543670', '71477')
('543670', '71477')
('556718', '71477')
('556718', '71477')
('563163', '71477')
('563163', '71477')
('565285', '71477')
('565285', '71477')
('572765', '71477')
('572766', '71477')
('572766', '71477')
('536970', '22423')
('555490', '22423')
('573892', '22941')
('576603', '22941')
('573391', '22942')
('577355', '22942')
('548260', '22423')
('577610', '22423')
('580098', '22423')
('542220', '21843')
('577610', '21843')
('580098', '21843')
('537041', '22427')
('550447', '22427')
('537046', '22470')
('540940', '22470')
('540172', '85066')
('540940', '85066')
('548698', '85066')
('537047', '22736')
('537047', '22834')
('537047', '22694')
('556578', '22467')
('556578', '22467')
('561037', '22467')
('561037', '22467')
('549118', '22776')
('540021', '22355')
('540538', '22355')
('544311', '22355')
('550006', '22355')
('551558', '22355')
('554520', '22355')
('556671', '22355')
('559068', '22355')
('562460', '22355')
('562779', '22355')
('564733', '22355')
('570818', '22355')
('573496', '22355')
('543389', '22788')
('550359', '22788')
('546428', 'POST')
('550313', 'POST')
('553161', 'POST')
('572992', 'POST')
('576894', 'POST')
('537671', '82486')
('546033', '82486')
('543653', '22059')
('541872', '22630')
('543653', '22630')
('547730', '22630')
('550196', '22630')
('552051', '22630')
('557484', '22630')
('559672', '22630')
('561195', '22630')
('564256', '22630')
('565682', '22630')
('571183', '22630')
('577038', '22630')
('581425', '22630')
('537847', '22839')
('537888', '84535B')
('540187', '84535B')
('542268', '84535B')
('546926', '22536')
('551576', '22536')
('538205', '22942')
('579453', '22942')
('538009', '21843')
('547789', '21843')
('554139', '21843')
('576051', '21843')
('578994', '21843')
('581006', '21843')
('538009', '22423')
('553901', '22423')
('560036', '22423')
('578994', '22423')
('581098', '22423')
('538009', '21155')
('538009', '22795')
('538255', '22795')
('541979', '22795')
('567428', '22795')
('567720', '22795')
('575751', '22795')
('579102', '22795')
('538010', '22236')
('538051', '84985A')
('540359', '84985A')
('543009', '84985A')
('538866', '79160')
('540943', '79160')
('543033', '79160')
('571846', '79160')
('575985', '79160')
('577174', '79160')
('578678', '79160')
('580295', '79160')
('559298', '22423')
('578469', '22423')
('538255', '15056BL')
('554139', '15056BL')
('565851', '15056BL')
('566776', '15056BL')
('571409', '15056BL')
('575728', '15056BL')
('576899', '15056BL')
('538255', '20679')
('565851', '20679')
('571409', '20679')
('575728', '20679')
('576899', '20679')
('581433', '20679')
('542278', '22796')
('548664', '22796')
('553203', '22796')
('562670', '22796')
('568095', '22796')
('568706', '22796')
('581433', '22796')
('538313', '22586')
('538327', '22586')
('538313', '22726')
('538313', '22726')
('538313', '22726')
('574667', '22726')
('574667', '22726')
('538313', '22725')
('538313', '22728')
('538313', '22727')
('538313', '22729')
('538809', '22943')
('538313', '22988')
('574667', '22988')
('578951', '22988')
('545637', '22973')
('551391', '22973')
('574667', '22973')
('567474', '22867')
('538353', '35924')
('548293', '35924')
('554815', '35924')
('562722', '35924')
('570115', '35924')
('548293', '37450')
('551726', '37450')
('556461', '37450')
('564248', '37450')
('570115', '37450')
('555524', '22699')
('538370', '22910')
('569205', '22910')
('573330', '22910')
('538370', '22960')
('538370', '22144')
('575932', '22144')
('578936', '22144')
('538370', '22142')
('538370', '22112')
('573330', '22112')
('578936', '22112')
('538370', '22149')
('545681', '22149')
('538370', '22909')
('538370', '22698')
('545681', '22698')
('547841', '22698')
('550437', '22698')
('552257', '22698')
('555524', '22698')
('557262', '22698')
('559525', '22698')
('565151', '22698')
('573330', '22698')
('575932', '22698')
('578936', '22698')
('544393', '22892')
('550157', '22892')
('565751', '22892')
('538638', '90147')
('538836', '84879')
('557250', '84879')
('538878', '22423')
('539295', '22423')
('540662', '22423')
('545058', '22423')
('548726', '22423')
('558351', '22423')
('567426', '22423')
('570257', '22423')
('539030', '22801')
('552195', '22360')
('552195', '22360')
('539092', '22423')
('539092', '22423')
('548697', '22423')
('548697', '22423')
('578365', '22423')
('578365', '22423')
('540408', '85123A')
('543675', '85123A')
('546318', '85123A')
('551617', '85123A')
('555075', '85123A')
('564046', '85123A')
('564048', '85123A')
('539211', '21232')
('559297', '21232')
('563735', '21232')
('539211', '21231')
('552963', '21231')
('559297', '21231')
('563735', '21231')
('575622', '21231')
('541676', '21055')
('561885', '22167')
('568417', '84032A')
('570674', '84032A')
('568654', '72816')
('568654', '72817')
('545657', '15056N')
('548858', '15056N')
('555947', '15056N')
('566625', '15056N')
('568654', '15056N')
('575728', '15056N')
('576899', '15056N')
('565800', '15056P')
('575728', '15056P')
('576899', '15056P')
('542777', '21411')
('546541', '21411')
('546917', '21411')
('557318', '21411')
('563913', '21411')
('570016', '21411')
('576141', '21411')
('549667', '47559B')
('576051', '47559B')
('578105', '47559B')
('546917', '22896')
('541979', '85123A')
('542777', '85123A')
('544210', '85123A')
('545657', '85123A')
('546580', '85123A')
('549667', '85123A')
('551656', '85123A')
('552262', '85123A')
('554770', '85123A')
('561798', '85123A')
('563169', '85123A')
('565800', '85123A')
('565857', '85123A')
('566625', '85123A')
('567378', '85123A')
('570016', '85123A')
('570674', '85123A')
('571425', '85123A')
('576141', '85123A')
('576371', '85123A')
('577061', '85123A')
('577355', '85123A')
('568417', '84032B')
('541172', '21363')
('546920', '22962')
('579938', '22423')
('567338', '22969')
('567339', '22969')
('539491', 'POST')
('560710', 'POST')
('569735', 'POST')
('575709', 'POST')
('576664', 'POST')
('577326', 'POST')
('567906', '22111')
('576926', '22111')
('539635', '22423')
('575185', '22423')
('557880', '22961')
('551278', 'POST')
('553674', 'POST')
('548856', '82483')
('540997', '22418')
('540997', '51014L')
('547811', '51014L')
('540997', '51014A')
('570824', '22865')
('580114', '22865')
('541114', '22423')
('542123', '22423')
('569402', 'POST')
('540512', '82482')
('544064', '82482')
('548869', '82482')
('540523', '22380')
('543264', '22380')
('547664', '22380')
('540523', '22379')
('543264', '22379')
('547664', '22379')
('540523', '22381')
('540523', '22381')
('550480', '22381')
('550480', '22381')
('540523', '20676')
('543264', '20676')
('550480', '20676')
('559783', '20676')
('563155', '20676')
('565122', '20676')
('540524', '22488')
('542862', '21326')
('546249', '21326')
('551774', '21326')
('561112', '21326')
('540545', '22180')
('540548', '22849')
('548403', '22849')
('569998', '21843')
('558754', '22659')
('558754', '22659')
('561683', '22659')
('548492', '22356')
('550006', '22356')
('558232', '22356')
('559535', '22356')
('561897', '22356')
('564141', '22356')
('565766', '22356')
('569234', '22356')
('540951', '22501')
('543232', '22501')
('544658', '22501')
('549664', '22501')
('550362', '22501')
('551211', '22501')
('551566', '22501')
('552955', '22501')
('570222', '22501')
('546765', '21843')
('553577', '21843')
('544480', '22956')
('565967', '22956')
('544075', '22699')
('545320', '22699')
('546212', '22699')
('546660', '22699')
('556927', '22699')
('565748', '22699')
('544075', '22838')
('552038', '22838')
('560445', '22838')
('565748', '22838')
('576653', '22838')
('560445', '22630')
('565475', '22630')
('541244', '85036C')
('547896', '22467')
('550006', '22467')
('553156', '22467')
('554520', '22467')
('555110', '22467')
('555562', '22467')
('558877', '22467')
('561897', '22467')
('564141', '22467')
('568227', '22467')
('573496', '22467')
('577174', '22467')
('578678', '22467')
('541256', '22730')
('578809', '22730')
('544177', '21363')
('541568', '22728')
('544083', '22728')
('547509', '22728')
('563188', '22728')
('541568', '22725')
('544083', '22725')
('547509', '22725')
('541568', '22729')
('569332', 'POST')
('541657', '22087')
('541859', '22697')
('545377', '22697')
('548210', '22697')
('551058', '22697')
('542085', '22911')
('552658', '22911')
('546776', '85123A')
('563764', '22156')
('565846', '22156')
('542224', '22374')
('542224', '22371')
('548318', '22055')
('542526', '22784')
('542526', '22784')
('542533', '22781')
('542627', '22147')
('560975', '22147')
('542627', '84688')
('542629', '22398')
('550767', '21703')
('552033', '21703')
('557219', '21703')
('560443', '21703')
('564653', '21703')
('551058', '22699')
('542929', '22961')
('546524', '22961')
('563062', '22961')
('566397', '22961')
('543115', '22698')
('551058', '22698')
('543246', '22698')
('550480', '21244')
('543264', '21242')
('543264', '21243')
('563155', '21243')
('550480', '20677')
('543264', '21238')
('550480', '21238')
('565122', '21238')
('543264', '21239')
('550480', '21239')
('563155', '21239')
('571434', '21239')
('543264', '21240')
('550480', '21240')
('556478', '21240')
('563155', '21240')
('565122', '21240')
('545688', '21534')
('550447', '21534')
('567184', '21534')
('543371', '22464')
('543371', '22464')
('543391', '22767')
('562099', '22380')
('543400', '22356')
('545290', '22356')
('552571', '22356')
('562099', '22356')
('543400', '20724')
('547114', '20724')
('562099', '20724')
('543400', '20719')
('556512', '20719')
('562099', '20719')
('543400', '22355')
('547114', '22355')
('552571', '22355')
('562099', '22355')
('543468', '22667')
('544808', '22667')
('559981', '22667')
('566073', '22667')
('543647', '47566')
('544941', '47566')
('550138', '47566')
('551528', '47566')
('556477', '47566')
('577089', '47566')
('544147', '21705')
('543653', '21877')
('545587', '21877')
('547730', '21877')
('550196', '21877')
('552051', '21877')
('564256', '21877')
('543935', '22041')
('553928', '21731')
('553929', '21731')
('544083', '22727')
('544083', '22730')
('544094', '22382')
('557762', '22382')
('565863', '22912')
('544194', '22720')
('544292', '20914')
('545056', '20914')
('544341', '22501')
('544440', '22666')
('547029', '22666')
('544459', '21875')
('544638', '22998')
('559751', '22998')
('544754', '23004')
('549012', '23004')
('557614', '23004')
('544920', '22897')
('552039', '22897')
('574328', '22897')
('545071', '84631')
('545162', '47566')
('557798', '47566')
('545188', '22899')
('548511', '22899')
('554839', '22899')
('558888', '22899')
('567153', '22899')
('545188', '22629')
('547705', '22629')
('548511', '22629')
('550297', '22629')
('554839', '22629')
('564359', '22629')
('574559', '22629')
('578510', '22629')
('545324', '82486')
('561206', '82486')
('545459', '21781')
('549245', '20914')
('545654', '22863')
('556248', '22863')
('545901', '22501')
('545978', '22722')
('552266', '22722')
('546079', '22963')
('559513', '22963')
('546079', '22962')
('559513', '22962')
('546079', '22993')
('549148', '22993')
('546155', '22553')
('551417', '22553')
('560686', '22553')
('578350', '22553')
('546305', '23194')
('547705', '23194')
('550297', '23194')
('562269', '23194')
('578510', '23194')
('546365', '22423')
('554088', '21745')
('546509', '21672')
('558113', '21672')
('546636', '22966')
('546636', '22990')
('546667', '23126')
('546667', '23127')
('555854', '22398')
('552242', '22396')
('555854', '22396')
('552242', '22399')
('560863', '22399')
('556067', '21135')
('574840', '22992')
('578278', '22992')
('578757', '22992')
('578814', '22992')
('581473', '22992')
('558702', '22991')
('578814', '22991')
('547044', '22231')
('547044', '22345')
('547044', '22343')
('547498', '22384')
('547562', '47566')
('580673', '21621')
('547583', '21787')
('558418', '21787')
('560581', '21787')
('547658', '22356')
('547664', '47566')
('552271', '47566')
('554635', '47566')
('573008', '22659')
('547906', '22261')
('547906', '22262')
('547906', '22262')
('547906', '21874')
('547906', '21873')
('547906', '84452')
('547906', '23193')
('559894', '37327')
('552316', '47566')
('568553', '47566')
('548512', '22859')
('548512', '22858')
('548512', '22860')
('548561', '22138')
('548568', '21843')
('548631', '22294')
('548697', '21843')
('548698', '22501')
('553913', '22501')
('548984', '84946')
('568060', '84946')
('580501', '84946')
('549123', '21212')
('576658', '22992')
('560895', '22423')
('576736', '22423')
('559313', '22360')
('563019', '84949')
('550359', '82580')
('551558', '82580')
('552108', '82580')
('560711', '82580')
('561897', '82580')
('565141', '82580')
('570420', '82580')
('570818', '82580')
('572306', '82580')
('572865', '82580')
('574547', '82580')
('575985', '82580')
('578289', '82580')
('578678', '82580')
('549690', '21925')
('551250', '21925')
('552108', '21925')
('554942', '21925')
('555110', '21925')
('555562', '21925')
('558877', '21925')
('569234', '21925')
('575070', '21925')
('550006', '21927')
('550006', '21927')
('550006', '21927')
('550359', '21927')
('550359', '21927')
('550359', '21927')
('551250', '21927')
('551250', '21927')
('551250', '21927')
('552108', '21927')
('552108', '21927')
('552108', '21927')
('556671', '21927')
('557636', '21927')
('557636', '21927')
('557636', '21927')
('558232', '21927')
('558232', '21927')
('558232', '21927')
('559068', '21927')
('559068', '21927')
('559068', '21927')
('559535', '21927')
('560368', '21927')
('560368', '21927')
('560368', '21927')
('561773', '21927')
('561773', '21927')
('561773', '21927')
('562460', '21927')
('562460', '21927')
('562460', '21927')
('562984', '21927')
('562984', '21927')
('562984', '21927')
('563538', '21927')
('563538', '21927')
('563538', '21927')
('565141', '21927')
('565141', '21927')
('565141', '21927')
('568049', '21927')
('568049', '21927')
('568049', '21927')
('568712', '21927')
('571098', '21927')
('571098', '21927')
('571098', '21927')
('571498', '21927')
('571498', '21927')
('571498', '21927')
('573245', '21927')
('573245', '21927')
('573245', '21927')
('573496', '21927')
('573496', '21927')
('573496', '21927')
('574034', '21927')
('574034', '21927')
('574034', '21927')
('574547', '21927')
('574547', '21927')
('574547', '21927')
('575070', '21927')
('575070', '21927')
('575070', '21927')
('576665', '21927')
('576665', '21927')
('576665', '21927')
('579516', '21927')
('579516', '21927')
('579516', '21927')
('550359', '22719')
('573001', '22996')
('550138', '23002')
('562162', '23002')
('550138', '22960')
('550480', '22844')
('554635', '22090')
('552271', '22088')
('554635', '22088')
('550480', '23204')
('550480', '23206')
('557153', '23176')
('557153', '23177')
('550797', '22988')
('554160', '23146')
('554160', '23146')
('554520', '23146')
('554520', '23146')
('560368', '23146')
('560368', '23146')
('560711', '23146')
('560711', '23146')
('562460', '23146')
('562460', '23146')
('563216', '23146')
('563216', '23146')
('550829', '23148')
('553156', '23148')
('553860', '23148')
('554520', '23148')
('556056', '23148')
('558877', '23148')
('559535', '23148')
('559807', '23148')
('560115', '23148')
('560711', '23148')
('562161', '23148')
('562779', '23148')
('562984', '23148')
('564141', '23148')
('564733', '23148')
('565141', '23148')
('566717', '23148')
('567165', '23148')
('570818', '23148')
('574034', '23148')
('578852', '23148')
('581334', '23148')
('550831', '21928')
('561808', '21928')
('571322', '21928')
('581167', '21928')
('550993', '22384')
('557762', '22384')
('551014', '22362')
('551189', '22386')
('555585', '22386')
('558192', '22386')
('561646', '22386')
('562459', '22386')
('564327', '22386')
('551558', '46138B')
('559068', '46138B')
('576867', '82583')
('559170', '22776')
('551843', '71053')
('575698', '71053')
('551852', '22666')
('578118', '15039')
('552033', '22693')
('557219', '22693')
('557219', '22664')
('560443', '22664')
('557219', '22380')
('560443', '22380')
('552108', '22424')
('557129', '22424')
('567473', '22424')
('568712', '22424')
('572306', '22424')
('573496', '22424')
('575070', '22424')
('552171', '15056BL')
('572443', '15056BL')
('552257', '21876')
('555524', '21876')
('552445', '23298')
('552542', '84665')
('555866', '84665')
('552571', '23204')
('562099', '23204')
('552571', '23205')
('556512', '23205')
('562099', '23205')
('552624', '23075')
('564061', '23075')
('552640', '22893')
('553390', '22893')
('554160', '22893')
('558877', '22893')
('560368', '22893')
('562779', '22893')
('566296', '22893')
('570019', '22893')
('552816', '23256')
('552822', '23084')
('552822', '22333')
('552822', '22332')
('557152', '82486')
('568156', '22804')
('552870', '23170')
('552894', '85099B')
('555746', '85099B')
('556887', '85099B')
('560696', '85099B')
('553469', '85099B')
('554364', '85099B')
('555585', '85099B')
('559419', '85099B')
('562459', '85099B')
('563562', '85099B')
('564327', '85099B')
('569649', '85099B')
('580665', '23167')
('561051', '23166')
('580665', '23166')
('553901', '23173')
('554040', '22622')
('564373', '22622')
('554071', '22356')
('563621', '22356')
('554097', '23206')
('556507', '23206')
('564173', '23206')
('576927', '23206')
('554282', '85099F')
('569839', '85099F')
('569839', '85099B')
('562345', '23300')
('564310', '23201')
('575255', '23201')
('554935', '23081')
('558721', '23081')
('564852', '23091')
('571106', '23091')
('554994', '22998')
('565329', '22998')
('555350', '85066')
('555381', '46000S')
('555383', '22551')
('575886', '22551')
('555383', '22554')
('575886', '22554')
('563903', '23202')
('555835', '21622')
('556023', '22169')
('575855', '22169')
('567522', '85152')
('557152', '23245')
('556206', '22699')
('556953', '22699')
('565214', '22699')
('571937', '22699')
('567660', '47566')
('556218', '22423')
('556219', '22423')
('556279', '23301')
('571284', '23301')
('573898', '23301')
('579175', '23301')
('556494', '21429')
('556512', '21931')
('562099', '21931')
('556512', '23199')
('558317', '23199')
('562099', '23199')
('556671', '22220')
('568712', '22220')
('566833', '21621')
('557144', '21936')
('558524', '21936')
('557144', '20723')
('563621', '20723')
('557291', '21906')
('567580', '21208')
('557349', '82486')
('557442', '23007')
('559529', '23007')
('560393', '23007')
('557442', '22661')
('559529', '22661')
('557442', '20723')
('559529', '20723')
('557442', '20719')
('559529', '20719')
('557442', '22634')
('560393', '22634')
('557442', '22550')
('559529', '22550')
('557605', '22698')
('565214', '22698')
('571937', '22698')
('557605', '22697')
('557636', '23322')
('559068', '23322')
('575070', '23322')
('578289', '23322')
('581334', '23322')
('557769', '23032')
('557769', '23032')
('572929', '23032')
('572929', '23032')
('557803', 'POST')
('580281', 'POST')
('557892', '22729')
('563137', '22961')
('557954', '23243')
('558074', '20728')
('562332', '20728')
('558317', '23201')
('558481', '22767')
('563912', '22767')
('564849', '22767')
('569110', '22767')
('574062', '22767')
('563575', '21069')
('565858', '21871')